.siteBar {
    text-decoration: none;
    color: rgba(212, 211, 211, 0.85);
    margin-top: 5px;
    font-size: 25px;
    font-weight: 500;
}

.siteBar img {
    width: 40px;
    height: 40px;
    border-radius:50%;

}
  