.header {
    grid-area: h;
    background-color: #06b667
  }
  
  .header img {
    width: 40px;
  }

.loginBlock {
    float: right;
    padding:20px;

}
.loginBlock a {
    color: white;
    font-weight:700;
    text-decoration: none;

}
.logOut {
    background: #ff4600ed;
    border-radius: 3px;
    color: #ffffffe3;
}