.dialogsContainer {
    display: grid;
    grid-template-columns:3fr 6fr;
}

.dialogs {
    padding: 12px;
    font-weight:500;


}

.dialogs a{
    text-decoration: none;
    color: #fcfcfc

}
.dialogs a.activeLinc {
    color:gold;
}
.messages {
    padding: 12px;
}

.dialogsPhoto img{
    width:50px
}
.messageElement {
    margin: 20px;
    text-align: center;
}