.dialogsContainer {
    display: grid;
    grid-template-columns:3fr 9fr;
}

.dialogs {
    padding: 12px;
    font-weight:500;

}

.dialogs a{
    text-decoration: none;
    color: #fcfcfc

}
.dialogs a.activeLinc {
    color:gold;
}
.messages {
    /*display:grid;*/
    /*grid-template-columns: repeat(2, 2fr);*/

    padding: 12px;
}

.message {

}

.dialogsPhoto img{
    width:50px
}